<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="max-width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <title>Kulineran Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Kulineran Apps</h1>
        <a id="hamburger" href="#">☰</a>
      </div>
      <nav id="drawer" class="nav">
        <ul class="nav__list" id="navBar">
          <li class="nav__item" style="margin-top: 0"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item">
            <a target="_blank" href="https://imheri.site">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="hero">
        <div class="hero__inner">
          <h1 class="hero__title">Kulineran Apps</h1>
          <p class="hero__tagline">Hello foodies, welcome to kulineran apps.</p>
        </div>
      </div>

      <main id="maincontent">
        <section class="content">
          <div class="menu-resto">
            <h1 class="menu-resto__label">Restaurant List</h1>
            <div class="posts" id="post-restaurant"></div>
          </div>
        </section>
      </main>
    </div>

    <footer>
      <ul>
        <li>
          Copyright © 2022 - Kulineran Apps design by
          <a href="https://imheri.site" target="_blank"> Made Heri</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
